# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/Snake/v17/.suo
.vs/Snake/v17/Browse.VC.db
.vs/Snake/v17/ipch/AutoPCH/6891ff669c85b6b2/MAIN.ipch
Snake/x64/Debug/Snake.exe.recipe
Snake/x64/Debug/Snake.log
Snake/x64/Debug/Snake.ilk
Snake/x64/Debug/Snake.tlog/CL.command.1.tlog
Snake/x64/Debug/Snake.tlog/CL.read.1.tlog
Snake/x64/Debug/Snake.tlog/CL.write.1.tlog
Snake/x64/Debug/Snake.tlog/link.command.1.tlog
Snake/x64/Debug/Snake.tlog/link.read.1.tlog
Snake/x64/Debug/Snake.tlog/link.write.1.tlog
Snake/x64/Debug/Snake.tlog/Snake.lastbuildstate
Snake/x64/Debug/vc143.idb
Snake/x64/Debug/vc143.pdb
x64/Debug.rar
x64/Debug/Snake.pdb
Snake/Snake.vcxproj.user
Snake/Snake.vcxproj.filters
